<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
        <add key="ConnStr" value="User Id=basdba;Password=masterkey;Data Source=bas1.ORACLE" />
        <add key="Programmer_ID" value="22446" />
    </appSettings>
</configuration>
